<ion-header class="ion-no-border ion-padding" translucent="true" mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button mode="md">
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
      <div class="numberCircle">3</div>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item lines="none" class="ion-margin-bottom ion-padding-bottom">
    <h1 class="ion-no-padding ion-no-margin">Address</h1>
  </ion-item>

  <div class="ion-padding-end">
    <ion-item class="ion-margin-top">
      <ion-input mode="md" type="text" placeholder="Name"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-input mode="md" type="text" placeholder="Address"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-input mode="md" type="text" placeholder="City"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-input mode="md" type="text" placeholder="CP"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-input mode="md" type="text" placeholder="Country"></ion-input>
    </ion-item>

  </div>

  <div class="ion-text-center ion-margin-top ion-padding">
    <ion-button class="ion-margin-top ion-margin-bottom" fill="solid" size="large" color="dark" shape="round" expand="block">Save </ion-button>
  </div>


</ion-content>
