<ion-content class="ion-padding">
  <div class="ion-padding ion-text-center">
    <h1 class="ion-padding-top ion-padding-bottom"> Forgot your password?</h1>
    <div class="ion-padding-end">
      <ion-item class="ion-margin-top">
        <ion-input mode="md" type="email" placeholder="Email"></ion-input>
      </ion-item>
    </div>
    <div class="ion-text-center ion-margin-top ion-padding">
      <ion-button class="ion-margin-top ion-margin-bottom" fill="solid" size="large" color="dark" shape="round"
        expand="block">
        Reset </ion-button>
    </div>
  </div>
</ion-content>