.product{
    --background: var(--ion-color-medium);
    box-shadow: none;
    border-radius: 15px;
    padding: 0px;
    margin: 10px;
    ion-card-content{
        padding: 10px;
    }
    h2{
        font-size: 14px;
    }

    ion-button{
        --padding-end: 16px;
        --padding-start: 16px;
        margin-right: 5px;
        font-weight: 500 !important;
    }

    p{
        text-align: right !important;
        width: 100%;
    }
}

.numberCircle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 7px;
    background: #000;
    color: #ffffff !important;
    text-align: center;
    font-weight: bold !important;
    font-size: 12px;
    margin-left: 12px;
    font-family: "Montserrat", sans-serif !important;
}
