.gallery {
  background: white;
  .scrolling-wrapper {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    .card {
      flex: 0 0 auto;
      border-radius: 20px;
      position: relative;
    }
    img {
      width: 155px;
      padding: 15px;
      border-radius: 20px;
    }
    .image-container {
      border-radius: 20px;
      background-repeat: none;
      background-size: cover;
      background-position: center;
      height: 240px;
      width: 230px;
      margin-left: 20px;
    }
    .titles {
      position: absolute;
      bottom: 0;
      color: white;
      margin-left: 20px;
      margin-bottom: 5px;
      font-size: 26px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-weight: bold;
    }
    h2 {
      color: white;
      font-size: 24px;
    }
  }
}

.posts {
  background: white;
  .scrolling-wrapper {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    .card {
      flex: 0 0 auto;
      border-radius: 20px;
      position: relative;
    }
    img {
      padding: 15px;
      border-radius: 20px;
    }
    .image-container {
      border-radius: 20px;
      background-repeat: none;
      background-size: cover;
      background-position: center;
      height: 200px;
      width: 150px;
      margin-left: 20px;
    }
    .titles {
      position: absolute;
      bottom: 0;
      margin-left: 20px;
      margin-bottom: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-weight: bold;
    }
    h2 {
      color: white;
      font-size: 14px;
      line-height: 20px;
    }
  }
}


.numberCircle{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 7px;
  background: #000;
  color: #ffffff !important;
  text-align: center;
  font-weight: bold !important;
  font-size: 12px;
  margin-left: 12px;
  font-family: "Montserrat", sans-serif !important;
}