// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #FFCBAD;
  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  /** success **/
  --ion-color-success: #2dd36f;
  /** warning **/
  --ion-color-warning: #ffc409;
  /** danger **/
  --ion-color-danger: #eb445a;
  /** dark **/
  --ion-color-dark: #000000;
  /** medium **/
  --ion-color-medium: #f6f6f6;
  /** light **/
  --ion-color-light: #ffffff;
    /** gray **/
    --ion-color-gray:#818181;
}