<ion-header class="ion-no-border" mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides class="gallery" Sclass="ion-padding-top" pager="true">
    <ion-slide class="ion-margin-bottom" *ngFor="let image of images">
      <img [src]="image.image">
    </ion-slide>
  </ion-slides>


  <div class="ion-padding">


    <div class="title">
      <h1>{{product.name}}</h1>
      <h2>${{product.price}}</h2>
    </div>

    <ion-item lines="none">
      <p><strong>Model</strong></p>
    </ion-item>

    <ion-slides class="ion-padding-start" pager="false" [options]="slideOpts">

      <ng-container *ngFor="let model of models">
        <ion-slide class="model-slide ion-margin-bottom" [ngStyle]="{'background' : model.selected === true ? 'var(--ion-color-dark)' : 'var(--ion-color-medium)',
        'color' : model.selected === true ? 'white' : 'var(--ion-color-dark)' }">
          {{model.number}}
        </ion-slide>
      </ng-container>

    </ion-slides>

    <ion-item lines="none">
      <p><strong>Description</strong></p>
    </ion-item>
    <ion-item lines="none" class="description">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
    </ion-item>
  </div>

</ion-content>

<ion-footer class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        <ion-button fill="outline" size="medium" color="primary" mode="ios">
          <ion-icon color="primary" name="heart-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="9">
        <ion-button fill="solid" size="large" color="dark" shape="round" expand="block">Add to cart </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>