ion-footer {
    padding: 32px;
    background: white;
}

ion-header {
    background: white;
}

.product {
    ion-thumbnail {
        background: var(--ion-color-medium);
        border-radius: 25px;

        @media (max-width: 400px) { //Smaller picture for <400px screens
            min-width: 80px;
            min-height: 60px;
            padding: 5px;
        }

        @media (min-width: 400px) {
            min-width: 140px;
            min-height: 90px;
            padding: 15px;
        }
    }
    box-shadow: none;
}

.numberCircle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 7px;
    background: #000;
    color: #ffffff !important;
    text-align: center;
    font-weight: bold !important;
    font-size: 12px;
    margin-left: 12px;
    font-family: "Montserrat", sans-serif !important;
}

h2#price {
    font-size: 28px;
}

h2#total {
    font-size: 28px;
    color: var(--ion-color-gray);
}

.quantity-selector-list {
    width: 75px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background: var(--ion-color-light);
    border-radius: 25px;
    //box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
    float: initial;
    position: relative;
    display: block;

    ion-item {
        --min-height: 25px !important;
        --max-height: 25px !important;
        height: 25px !important;
        --background: transparent;
        --padding-bottom: 0px;
        --padding-end: 0px;
        --padding-start: 0px;
        --padding-top: 0px;
        --inner-padding-bottom: 0px;
        --inner-padding-end: 0px;
        --inner-padding-start: 0px;
        --inner-padding-top: 0px;
    }
    ion-button {
        --padding-end: 0px;
        --padding-start: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        --min-height: 25px !important;
        --max-height: 25px !important;
        height: 25px !important;
    }
    ion-icon {
        margin: 0px !important;
        padding: 0px !important;
        font-size: 30px;
    }
    ion-label {
        text-align: center;
        margin: auto;
        color: black;
        font-size: 14px;
    }
}
