<ion-header class="ion-no-border ion-padding" translucent="true" mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button mode="md">
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
      <div class="numberCircle">3</div>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-item lines="none" class="ion-margin-bottom">
    <h1 class="ion-no-padding ion-no-margin">Cart</h1>
  </ion-item>

  <ng-container *ngFor="let product of cart.productData; index as i">

    <ion-item class="product ion-margin-bottom" routerLink="/product" lines="none" detail="false">
      <ion-thumbnail slot="start">
        <img [src]="product.image">
      </ion-thumbnail>
      <ion-label class="ion-text-nowrap">
        <h2>{{product.product_name}}</h2>
        <p>${{product.product_price}}</p>
      </ion-label>
      <div class="quantity-selector-list">
        <ion-item lines="none">
          <ion-button slot="start" color="primary" fill="clear">
            <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-label>{{product.in_cart}}</ion-label>
          <ion-button slot="end" color="primary" fill="clear">
            <ion-icon name="add-circle" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-item>
  </ng-container>

  <ion-item lines="none">
    <p style="font-size: 12px; color: var(--ion-color-gray) !important;">Do you have a promotional code?</p>
  </ion-item>

</ion-content>

<ion-footer>

  <ion-item class="ion-margin-bottom ion-no-margin ion-no-padding" lines="none" detail="false">
    <ion-label>
      <h2 id="total">Total</h2>
    </ion-label>
    <ion-label class="ion-text-right ion-no-margin" slot="end">
      <h2 id="price">$308</h2>
    </ion-label>
  </ion-item>
  <ion-button fill="solid" size="large" color="dark" shape="round" expand="block">Checkout</ion-button>
</ion-footer>