<ion-content class="ion-padding">
  <img width= 100% src="../../assets/img/logo.jpg" alt="" style="margin-left: auto; margin-right: auto;">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-right ion-padding">
        <ion-button  routerLink="/login"  class="top-button ion-margin-top" size="small" shape="round" fill="clear">Login
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-left ion-padding">
        <ion-button class="top-button ion-margin-top" size="small" shape="round" color="dark">Register
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding-end">
    <ion-item class="ion-margin-top">
      <ion-input mode="md" type="text" placeholder="Name"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-input mode="md" type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-input mode="md" type="password" placeholder="Password"></ion-input>
    </ion-item>
  </div>

  <div class="ion-text-center ion-margin-top ion-padding">
    <ion-button  class="ion-margin-top ion-margin-bottom" fill="solid" size="large" color="dark" shape="round" expand="block">Register </ion-button>
  </div>

</ion-content>