<ion-content [fullscreen]="true">
  <div class="hero ion-padding"> 
    <ion-toolbar mode="md" slot="fixed">
      <ion-buttons slot="start">
        <img width= 40% src="../../assets/img/logo.jpg" alt="" style="margin: 0px 50px; padding: 5px">
      </ion-buttons>
    </ion-toolbar> 

    <ion-slides class="ion-no-margin" pager="false" [options]="slidesOptions">
      <ion-slide>
        <img src="../../assets/img/model1.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/model2.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/model.jpg" alt="">
      </ion-slide>
    </ion-slides>
    <!-- <div class="titles ion-margin-top ion-padding">

      <h1>New 21</h1>
      <h2>SHOP NOW</h2>
    </div> -->
  </div>

  <div class="ion-padding">

    <ion-grid>

      <ion-item lines="none">
        <h1 class="ion-no-padding ion-no-margin">Top Products</h1>
        <!-- <ion-button fill="clear" slot="end" color="dark" mode="ios">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          <strong>Show All</strong>
        </ion-button> -->
      </ion-item>
      <ion-row class="ion-no-padding ion-no-margin">
        <ng-container *ngFor="let product of products | slice:0:4">
          <ion-col class="ion-no-padding ion-no-margin" size="6">
            <ion-card class="product" [routerLink]="['/product', product.id]">
              <ion-card-content>
                <h2>{{product.name}}</h2>
                <img [src]="product.images[0].src">
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>


    <ion-item lines="none">
      <h1 class="ion-no-padding ion-no-margin">Categories</h1>
      <ion-button fill="clear" slot="end" color="dark" mode="ios" [routerLink]="['/list']">
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <strong>Show more</strong>
      </ion-button>
    </ion-item>

    <div class="gallery">
      <div class="scrolling-wrapper">
        <div class="card" *ngFor="let category of categories | slice:0:5" [routerLink]="['/mosaic', category.id]">
          <div [ngStyle]="{'background-image': 'url(' + category.image.src + ')'}" class="image-container">
            <div class="titles">
              <h2>{{category.name}}</h2>
            
              
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


</ion-content>